{{ form_start(figureCreateForm, {'attr': {'class': 'col-6 offset-md-3 mb-5'}}) }}
<div class="mb-3">
	{{ form_label(figureCreateForm.name, 'Titre') }}
	{{ form_widget(figureCreateForm.name, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="mb-3">
	{{ form_label(figureCreateForm.slug, 'Slug') }}
	{{ form_widget(figureCreateForm.slug, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="mb-3">
	{{ form_label(figureCreateForm.category, 'Catégorie') }}
	{{ form_widget(figureCreateForm.category, {'attr': {'class': 'form-control'}}) }}
</div>
<div>
	{{ form_label(figureCreateForm.description, 'Description') }}
	{{ form_widget(figureCreateForm.description, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="mb-3">
    {% include "includes/forms/imagesForm.html.twig" %}
</div>
<div class="mb-3">
	<input type="submit" class="btn btn-primary" value="Ajouter" formnovalidate>
</div>
{{ form_end(figureCreateForm) }}