{{ form_start(editForm, {'attr': {'class': 'col-12 col-md-9 col-lg-7 mx-auto mb-5'}}) }}
<div class="input-field mb-3">
	{{ form_label(editForm.firstname, 'Prénom') }}
	{{ form_widget(editForm.firstname, {'attr': {'class': 'form-control'}}) }}
	<span class="error">{{ form_errors(editForm.firstname) }}</span>
</div>
<div class="input-field mb-3">
	{{ form_label(editForm.lastname, 'Nom') }}
	{{ form_widget(editForm.lastname, {'attr': {'class': 'form-control'}}) }}
	<span class="error">{{ form_errors(editForm.lastname) }}</span>
</div>
<div class="mb-3 form-image">
	{{ form_label(editForm.imageProfileFile, 'Avatar') }}
	{{ form_widget(editForm.imageProfileFile, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="input-field mb-3">
	{{ form_label(editForm.email, 'Email') }}
	{{ form_widget(editForm.email, {'attr': {'class': 'form-control'}}) }}
	<span class="error">{{ form_errors(editForm.email) }}</span>
</div>
<div class="mb-3">
	<input type="submit" class="btn btn-primary" value="Modifier" formnovalidate>
</div>
{{ form_end(editForm) }}