{% block videos_widget %}
 
<ul id="videos-fields-list" 
    data-prototype="{{ form_widget(figureCreateForm.videos.vars.prototype)|e }}" 
    data-widget-tags="{{ '<li></li>'|e }}"
    data-widget-counter="{{ figureCreateForm.videos|length }}">
    <div class="form-video">
        {% for key,video in figureCreateForm.videos %}
            {{ form_label(video, 'Video') }}
            {{ form_widget(video, {'attr': {'class': 'form-control'}}) }}
        {% endfor %}
    </div>
</ul>

<button type="button" class="add-another-video" data-list-selector="#videos-fields-list">Ajouter une video</button>
{% endblock %}

{% block javascripts %}

	<script>
	    jQuery(document).ready(function () {
            jQuery('.add-another-video').click(function (e) {
                var list = $("#videos-fields-list");
                var counter = list.data('widget-counter') | list.children().length;
                var newWidget = list.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, counter);
                counter++;
                list.data('widget-counter', counter);

                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);
                newElem.append('<a href="#" class="remove-tag" style="color: darkred">remove</a>');
                $('.remove-tag').click(function(e) {
                    e.preventDefault();

                    $(this).parent().remove();
                });
            });
        });
	</script>
{% endblock %}
