{% extends 'base.html.twig' %}

{% block title %}
	{{ figure.slug }}
{% endblock %}

{% block body %}
	<div class="col-10 offset-1 mt-5">
		{% for message in app.flashes('message') %}
			<div class="alert alert-success" role="alert">
				<P>{{ message }}</p>
			</div>
		{% endfor %}
	</div>

	{% if figure.createdBy == app.user %}
		<div class="row mt-5">
			<a href="{{ path('figure_edit', {'id' : figure.id}) }}" class="col-4 offset-6 col-md-2 offset-md-9 btn btn-success">Modifier</a>
		</div>
	{% endif %}


	<h1 class="figureName text-center my-5">
		{{ figure.name }}
	</h1>

	<div class="row mb-5">
		<div class="col-6 offset-3">
			{% if figure.images %}
				<div id="carouselExample" class="carousel slide">
					<div class="carousel-inner">
						{% for image in figure.images %}
							<div class="carousel-item {% if loop.first %} active {% endif %}">
								<img class="d-block w-100" data-photoswipe-loop="{{ loop.index0 }}" src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="figure image"/>
							</div>
						{% endfor %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			{% else %}
				<div class="col-6">
					<img class="img-fluid" src="/assets/images/snow1.jpg" alt="image de code"/>
				</div>
			{% endif %}
		</div>
	</div>

	<div class="row">
		<div class="col-10 col-md-8 col-lg-8 mx-auto">
			<div class="border-0">
				{% if figure.images|length > 0 %}
					<h3>Images</h3>
					<div class="lightbox-gallery mb-5">
						<div class="container">
							{% for image in figure.images %}
								<a href="{{ vich_uploader_asset(image, 'imageFile') }}" data-toggle="lightbox" data-gallery="example-gallery">
									<img class="figure-thumbnail" src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="image"/>
								</a>
							{% endfor %}
						</div>
					</div>
				{% endif %}

				{% if figure.videos|length > 0 %}
					<h3>Vidéos</h3>
					<div class="lightbox-gallery mb-5">
						<div class="container">
							{% for video in figure.videos %}
								<a href="{{ vich_uploader_asset(video, 'videoFile') }}" data-toggle="lightbox" data-gallery="example-gallery">
									<video class="figure-thumbnail">
										<source src="{{ vich_uploader_asset(video, 'videoFile') }}" type="video/mp4">
									</video>
								</a>
							{% endfor %}
						</div>
					</div>
				{% endif %}

				<hr/>

				<div class="d-flex justify-content-center">
					<span class="badge text-bg-light">
						<em>
							{{ figure.category }}
						</em>
					</span>
					<span class="badge text-bg-light">
						<em>
							Publié le
							{{ figure.createdAt|date('d/m/Y') }}
						</em>
					</span>
					{% if figure.updatedAt != figure.createdAt %}
						<span class="badge text-bg-light">
							<em>
								Modifier le
								{{ figure.updatedAt|date('d/m/Y') }}
							</em>
						</span>
					{% endif %}
				</div>

				<hr/>

				<div class="">
					<p class="mt-4">
						{{ figure.description }}
					</p>
				</div>

				<hr/>
			</div>

			<div class="border-bottom my-4 pb-4">
				<div class="row">
					<div class="col-3">
						<img class="img-fluid" src="{{ vich_uploader_asset(figure.createdBy, 'imageProfileFile') }}" alt="user image" style="border-radius: 30%"/>
					</div>

					<div class="col-9">
						<p class="mb-2">
							Ajouté par
							<strong>
								{{ figure.createdBy.firstname }}
								{{ figure.createdBy.lastname }}
							</strong>
						</p>
						<a href="#" class="text-dark">
							<i class="fab fa-facebook-f me-1"></i>
						</a>
						<a href="#" class="text-dark">
							<i class="fab fa-twitter me-1"></i>
						</a>
						<a href="#" class="text-dark">
							<i class="fab fa-linkedin me-1"></i>
						</a>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit.
																																																																						              Distinctio est ab iure inventore dolorum consectetur? Molestiae
																																																																						              aperiam atque quasi consequatur aut? Repellendus alias dolor ad
																																																																						              nam, soluta distinctio quis accusantium!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section>
		<div class="mb-3">
			{{ form_start(commentForm, {'attr': {'class': 'col-8 mx-auto mb-5'}}) }}
			<div class="input-field mb-3">
				{{ form_label(commentForm.message, 'Commentaire') }}
				{{ form_widget(commentForm.message, {'attr': {'class': 'form-control'}}) }}
				<span class="error">{{ form_errors(commentForm.message) }}</span>
			</div>
			<div class="mb-3">
				{% if app.user %}
					<input type="submit" class="btn btn-primary" value="Ajouter mon commentaire" formnovalidate>
				{% else %}
					<a class="btn btn-primary" href="{{ path('app_login') }}">Ajouter mon commentaire</a>
				{% endif %}

			</div>
			{{ form_end(commentForm) }}
		</div>
	</section>

	<section>
		<div class="col-8 mx-auto">
			{% include "comment/comment_show.html.twig" %}
		</div>
	</section>
{% endblock %}
