{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <a href="{{ path('app_admin_board') }}" class="col-1 d-flex align-items-center">Retour</a>
        <h1 class="col text-center mt-5 mb-5">liste des messages</h1>
    </div>

    <div class="col-4 offset-4">
			{% for message in app.flashes('message') %}
				<div class="alert alert-success" role="alert">
					<P>{{ message }}</p>
				</div>
			{% endfor %}
		</div>

    <div class="row">
        <div class="col">
            <div class="row mb-5">
                <h5>Message(s)
                    <span>({{ contactsCount|length }})</span>
                </h5>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Nom Prénom</th>
                    <th>Email</th>
                    <th>Objet</th>
                    <th>Date de réception</th>
                    <th>Répondu le</th>
                    <th>Actions</th>
                </tr>
                {% set i = 1 %}
                {% for message in contacts %}
                    <tr class="hoverable">
                        <td>{{ i }}</td>
                        <td>{{ message.fullname }}</td>
                        <td>{{ message.email }}</td>
                        <td>{{ message.subject }}</td>
                        <td>{{ message.createdAt|date('d/m/Y') }}</td>
                        {% if message.isAnswered == 1 %}
                        <td>
                        {{ message.answeredAt|date('d/m/Y') }}
                        </td>
                        {% else %}
                        <td>
                            <span>Pas de réponse</span>
                        </td>
                        {% endif %}
                        {% if message.isAnswered == 0 %}
                        <td>
                            <a class="btn btn-primary" href="{{ path('app_contact_show', {'id' : message.id}) }}"><i class="far fa-file"></i></a>
                            <button type="button" class="col btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ message.id }}">
					            <i class="fas fa-trash"></i>
				            </button>
                        </td>
                        {% else %}
                        <td>
                            <a class="btn btn-primary" href="{{ path('app_contact_show', {'id' : message.id}) }}"><i class="far fa-file"></i></a> 
                            <a class="btn btn-dark disabled" href=""><i class="fas fa-window-minimize"></i></i></a>
                            <button type="button" class="col btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ message.id }}">
					            <i class="fas fa-trash"></i>
				            </button>
                        </td>
                        {% endif %}
                    </tr>

                    <!-- Delete Modal -->
						<div class="modal fade" id="deleteModal{{ message.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h1 class="modal-title fs-5" id="deleteModalLabel">Supprimer le message</h1>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										...
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
										<a href="{{ path('app_contact_delete', {'id' : message.id}) }}" class="btn btn-danger" role="button">Supprimer</a>
									</div>
								</div>
							</div>
						</div>
                {% set i = i+1 %}
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="navigation d-flex justify-content-center my-8">
			{{ knp_pagination_render(contacts) }}
		</div>
</div>
{% endblock %}