{% extends 'base.html.twig' %}

{% block title %}Mon profile{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Profile</h1>

    <div class="card mb-3 mx-auto" style="max-width: 600px; height: 400px">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ vich_uploader_asset(app.user, 'imageProfileFile') }}" class="img-fluid rounded-start" alt="user image profile">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ app.user.firstname }} {{ app.user.lastname }}</h5>
        <p class="card-text">Email : {{ app.user.email }}</p>
        <p class="card-text">Date d'inscription : {{ app.user.createdAt|date('d/m/Y') }}</p>
        <p class="card-text"><small class="text-muted">Modifié le : {{ app.user.updatedAt|date('d/m/Y') }}</small></p>
      </div>
    </div>
    <div class="row">
    <a href="#" class="col btn btn-danger">Supprimer</a>
    <a href="#" class="col btn btn-primary">Modifier</a>
    </div>
  </div>
</div>

    <div class="row">
        <div class="col s12 m12 l8 offset-l2">
            <a href="/add">Ajouter une figure</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Mes figure ({{ app.user.figures|length }})</h3>
            <div>
                {% if app.user.figures is not null %}
                    {% for figure in app.user.figures %}
                        <div class="col s10 m6 l6">
			                <div class="card hoverable blue-grey darken-1">
					            <div class="card-content white-text">
						            <span class="card-title">{{ figure.name }}</span>
							        <p>{{ figure.updatedAt|date('d/m/Y') }}</p>
							        <div class="card-image">
				                        <img class="responsive-img home" width="100%" src="" alt="{{ figure.name }}"/>
							        </div>
				                    <p>Prix :{{ figure.name }}€</p>
						        </div>
						        <div class="card-action">
						            <a href="">Plus de détails
						        </div>
					        </div>
			            </div>
                    {% endfor %}
                {% else %}
                vous n'avez pas encore ajouter de figure.
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
